.friendList{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 100px;
    
}

.friendListItem{
    border: 2px solid rgb(63, 59, 59);
    border-radius: 30px;
    width:150px;
    height: 220px;
    text-align: center;
    align-content: center;
    
}


.friendName{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.online{
    color:green;
}
.offline{
    color:red;
}